.nav_link {
  margin-right: 20px;
  color: red;
  font-size: 20px;
  text-decoration: none;
}

.nav_link:global(.active) {
  font-weight: bold;
}

.trending_list {
  list-style: none;

  display: inline-flex;
  flex-direction: column;
}

.trending_title {
  margin-bottom: 25px;
}

.trending_list_item {
  /* display: inline; */
  margin-bottom: 10px;
}

.trending_link {
  /* display: inline; */
  color: black;
}

/* DNA loader spinner  */
.dna_wrapper {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
